/* CART */

#cart-box {
	height: 115px;
	/*padding : 3px auto;*/
	margin-bottom: 8px;
	/*z-index: 5;*/
}

#cart-box h4 { 
	line-height: 16px; 
	margin: 0 0 0.4em; 
}

#cart-box h4 .ui-icon { 
	float: left; 
}

#cart-list { 
	height: 95px; 
	/*padding: 0 2px 0 10px;*/
	margin-top:-5px;
	overflow: auto;	
} * html #cart-list { height: 40px; }* /* IE6 */

#cart-list li {
	/*padding : 4px;*/
	margin-left: 10px;
}

#cart-list .product h5 { 
	display: none; 
}

#cart-list .product img {
	/*width:48px;	*/
}